<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" href="../img/logo_2.png" />
    <title>隨便吃幫你決定這一餐</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- bootstrap_css link-->
    <link rel="stylesheet" href="../css/bootstrap01.min.css" type="text/css">

    <!-- bootstrap_js link -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- my_css link  -->
    <link rel="stylesheet" href="../css/style_01.css" type="text/css">
    <link rel="stylesheet" href="../css/store_add_product.css" type="text/css">

    <script>
        function login() {
            window.location.href = "member.html"
        }
    </script>
    <style>
        .box1 {
            width: 400px;
            padding: 25px;
            margin: 50px auto;
            color: #0a0a0a;
            background-color: antiquewhite;
        }
        
        img[alt $="logo"] {
            width: 80px;
            height: 80px;
        }
    </style>
    
    <th:block th:include="/header"></th:block>
</head>

<body>


    <div style="border: solid 5px #6B7A8F;" class="box1">
        <div class="container">
            <h3  style="color:#f7882f"><b>登入ZOOTREEKEY<b></h3>
            <form th:action="@{/memberCentre_login/login}"  th:object="${MemberLogin}" method="POST"> 
                <div class="mb-3">
                    <label for="useraccount" class="form-label" style="color:#6b7a8f">帳號</label>
                    <input type="text" class="form-control" id="useraccount" placeholder="輸入帳號"  th:field="*{newmemberAccount}" >
                </div>
                <div class="mb-3">
                    <label for="userpasswd" class="form-label" style="color:#6b7a8f">密碼</label>
                    <input type="password" class="form-control" id="userpasswd" placeholder="輸入密碼" th:field="*{newmemberPassword}">
                </div>
                <div th:if="${errorMessage!=null}"
           style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>

                <div class="btn__block">
                    <button type="submit"  class="btn btn-success" style="background-color:#f7882f;border:3px #6b7a8f" 
                    >登入</button>		
                    <a th:href="@{/memberCentre_regist}" class="btn btn-primary" style="background-color:#f7882f;border:3px #6b7a8f">註冊</a>
                </div>
                <hr>

            </form>
       

        </div>
    </div>


</body>

</html>