<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bank</title>
        <!-- bootstrap_css link-->
        <link rel="stylesheet" href="../css/bootstrap01.min.css" type="text/css">
        <link rel="stylesheet" href="../css/style_01.css" type="text/css">
        <!-- bootstrap_js link -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <style>
        th,
        td {
            padding: 5px;
        }
    </style>

</head>

<body>
    <!-- 彈出視窗  -->
    <form th:action="@{/menutest/updateFrom}"  th:object="${updateMenuForm}" method="POST">
			<div class="modal fade" id="editinformation">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3>會員資料修改</h3>
							<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
						</div>
						<div class="modal-body">
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">產品編號</span>
								<input type="text" class="form-control" placeholder="產品編號" aria-label="Username"
									aria-describedby="basic-addon1"  th:field="*{newid}">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">產品序號</span>
								<input type="text" class="form-control" placeholder="產品序號" aria-label="Username"
									aria-describedby="basic-addon1" th:field="*{newproductCode}">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">產品名稱</span>
								<input type="text" class="form-control" placeholder="產品名稱" aria-label="Username"
									aria-describedby="basic-addon1" th:field="*{newproductName}">
							</div>
                            <div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">產品尺寸</span>
								<input type="text" class="form-control" placeholder="產品尺寸" aria-label="Username"
									aria-describedby="basic-addon1" th:field="*{newproductSize}">
							</div>
                            <div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">產品價格</span>
								<input type="text" class="form-control" placeholder="產品價格" aria-label="Username"
									aria-describedby="basic-addon1" th:field="*{newproductPrice}">
							</div>
                            <div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">產品說明</span>
								<input type="text" class="form-control" placeholder="產品說明" aria-label="Username"
									aria-describedby="basic-addon1" th:field="*{newproductDescription}">
							</div>
                            
							<div class=" modal-footer">
								<button type="submit" class="btn-good ">儲存</button>
							</div>
						</div>
					</div>
				</div>
			</div>
        </form>
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>

    <h2>Menu</h2>

    <table border="1">
        <tr>
            <th>產品編號</th>
            <th>產品序號</th>
            <th>產品名稱</th>
            <th>產品尺寸</th>
            <th>產品價格</th>
            <th>產品說明</th>
            <th>產品種類</th>
        </tr>

        <tr th:each="muneInFo : ${menuInfos}">
            <td th:utext="${muneInFo.id}">..</td>
            <td th:utext="${muneInFo.productCode}">..</td>
            <td th:utext="${muneInFo.productName}">..</td>
            <td th:utext="${muneInFo.productSize}">..</td>
            <td th:utext="${muneInFo.productPrice}">..</td>
            <td th:utext="${muneInFo.productCategory}">..</td>
            <td th:utext="${muneInFo.productDescription}">..</td>



        </tr> 

        <div class="btnt col-6 align-self-end text-center" type="button" data-bs-toggle="modal"
            data-bs-target="#editinformation">
            <a class="bntn">修改</a>
        </div>

    </table>
    
</body>

</html>