<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" href="../img/logo_2.png" />
    <title>隨便吃幫你決定這一餐</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- bootstrap_css link-->
    <link rel="stylesheet" href="../css/bootstrap01.min.css" type="text/css">

    <!-- bootstrap_js link -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <!-- my_css link  -->
    <link rel="stylesheet" href="../css/style_01.css" type="text/css">
    <link rel="stylesheet" href="../css/cat_style.css" type="text/css">
    
    <th:block th:include="/header"></th:block>
</head>

<body>
    <div>
        
        <div class="container my_container">
            <div class="checkout__blocks row">

                <div class="checkout__steps col ">
                    <div class="checkout__step checkout__delivery-information">
                        <div class="checkout__step__items__view"></div>
                        <h3 class="checkout__step__title">
                            <span class="tag">1</span>
                            <span class="checkout-title-content js-delivery-text " data-pickup-text="外帶自取詳情">取餐詳情</span>
                        </h3>
                        <div class="checkout__step__items">

                            <div class="checkout__step__item">
                                <h4 class="checkout__step__item-title">
                                    <span class="js-delivery-text f-14 fw-bold" data-pickup-text="領取時間">領取時間</span> :
                                </h4>
                                <div class="checkout__step__item-content checkout__time-picker">
                                    <div class="desktop-cart__time">
                                        <div class="desktop-cart__time__field-date select-box changed">
                                            <div class="btn-group">
                                                <select id="order-delivery-date" name="date-picker" class="form-select">
                                                    <option value="日期">導入日期</option>
                                                </select>
                                                <select id="order-delivery-time" name="time-picker" class="form-select">
                                                    <option value="now">導入時間</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="desktop-cart__time__field-time">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__step__item" id="checkout__address-information">
                                <h4 class="box-flex checkout__step__item-title" id="checkout-delivery-information-address">
                                    <span class="js-delivery-text f-14 fw-bold">外帶取餐地址
                                    </span>
                                </h4>
                                <div class="checkout__step__item-content">
                                    <div class="checkout-delivery-information-list address-book " id="checkout-delivery-information-list">
                                        導入地址
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__step checkout__contact-information">
                        <h3 class="checkout__step__title">
                            <span class="tag">2</span>
                            <span class="checkout-title-content"> 個人資料 </span>
                            <span class="checkout__title-link">
                                <button class="checkout__title-link__text--tedit-contac">更改資料</button>
                            </span>
                        </h3>
                        <div class="checkout__step__items">
                            <div class="checkout__step__item">
                                <div class="checkout__step__item-content">
                                    <div id="checkout-contact-information ">
                                        <div class="checkout__contact-information__full-name">導入姓名</div>
                                        <div class="checkout__contact-information__email">導入信箱</div>
                                        <div class="checkout__contact-information__phone-number">導入手機</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__step checkout__payment show-wallet">
                        <h3 class="checkout__step__title">
                            <span class="tag">3</span>
                            <span class="checkout-title-content"> 付款方式 </span>
                        </h3>
                        <div class="checkout__step__items" id="accordion">
                            <div class="checkout__step__item checkout__payment__options">
                                <div class="payment-selection__payment-method-list">
                                    <div class="payment-method-list " data-bs-toggle="collapse" data-bs-target="#payment-method-item-cybersource_creditcard" data-parent="#accordion">
                                        <label class="payment-method-list__item radio-box ">
                                            <div></div>
                                            <div class="payment-item__label"><input type="radio"
                                                    name="payment-method-list-item" data-testid="payment-method-input"
                                                    style="margin: 10px;">
                                                <div><span data-testid="payment-item-label">信用卡</span>
                                                    <div data-testid="payment-method-next-line-icons"><img
                                                            class="payment-item__icon set-vertical-align"
                                                            src="https://images.deliveryhero.io/image/foodpanda/payment_icons/payment_schema/ic-payments-JCB-xs.png"
                                                            alt=""><img class="payment-item__icon set-vertical-align"
                                                            src="https://images.deliveryhero.io/image/foodpanda/payment_icons/payment_schema/ic-payments-Maestro-xs.png"
                                                            alt=""><img class="payment-item__icon set-vertical-align"
                                                            src="https://images.deliveryhero.io/image/foodpanda/payment_icons/payment_schema/ic-payments-Mastercard-xs.png"
                                                            alt=""><img class="payment-item__icon set-vertical-align"
                                                            src="https://images.deliveryhero.io/image/foodpanda/payment_icons/payment_schema/ic-payments-Visa-xs.png"
                                                            alt=""></div>
                                                </div>
                                            </div>
                                        </label>
                                        <div class="payment-method-item__details collapse" id="payment-method-item-cybersource_creditcard">
                                            <div class="credit-card-container">
                                                <iframe id="cybersource_creditcardIframe" class="checkout__credit-card-payment__iframe" width="100%" height="240" scrolling="no" sandbox="allow-same-origin allow-scripts" style="display: block;">
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="checkout__step__item checkout__payment__options">
                                <div class="payment-selection__payment-method-list">
                                    <div class="payment-method-list " data-bs-toggle="collapse" data-parent="#accordion">
                                        <label class="payment-method-list__item radio-box ">
                                            <div></div>
                                            <div class="payment-item__label"><input type="radio"
                                                    name="payment-method-list-item" data-testid="payment-method-input"
                                                    style="margin: 10px;">現金</span>
                                            </div>
                                    </div>
                                    </label>
                                    </div>
                                </div>
                            </div>

                            <div class="voucher-wallet-checkout-payment-section-react voucher-wallet-checkout-payment-section">
                                <div class="voucher-wallet-checkout_title_link"><button class="btn btn-primary" style="color: #6b7a8f; background-color: #dcc7aa;" type="button" data-bs-toggle="modal" data-bs-target="#modal-dialog-information">優惠券</button></div>
                                <!-- 選取優惠券後顯示 -->
                                <!-- <div class="checkout__payment__voucher-selected checkout__step__item-content hide" data-testid="checkout-payment-voucher-selected">優惠券 <b></b><a class=""><b>刪除</b></a></div> -->
                                <div class="modal fade" id="modal-dialog-information">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">輸入或選擇優惠券</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="voucher">
                                                    <li class="voucher-checkout-option row" style="list-style-type:none">
                                                        <div class=""><input type="radio" id="radio"></div>
                                                        <div class="">
                                                            <label for="radio">請輸入你的優惠券號碼</label>
                                                            <form action="#">
                                                                <div class="input-box js-input-box checkout__payment__voucher-code">
                                                                    <input type="text" class="voucher-wallet-input-class">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </li>
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-bs-dismiss="modal">關閉</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="checkout__cart__blocks col">
                        <div class="checkou__cart">
                            <div class="desktop-cart-container">
                                <div class="desktop-cart__header">
                                    <h3 class="desktop-cart__title" data-testid="cartlib-cart-title">
                                        您的訂單 <span>導入店家名稱</span></h3>
                                    <p class="desktop-cart_order__message">
                                        你尚未放入任何產品到購物車中。現在開始訂購你最喜歡的餐廳美食吧！</p>
                                </div>
                                <!-- <div class="desktop-cart__order">
                                <div class="checkout__summary--wrapper">
                                    <div class="checkout__summary">
                                        <div class="badge-pcart">
                                            <div class="badge-cart-body pcart-body">
                                                <div class="summary__items">
                                                    <div class="cart__item">
                                                        <div class="summary__item__row_desktop">
                                                            <div class="summary__item__quantity">
                                                                <span class="summary__item__quantity-wrap">數量</span>
                                                            </div>
                                                            <div class="items-muliplier">x</div>
                                                            <div class="summary__item__name">
                                                                餐點名稱
                                                                <span class="summary__extra__item"></span>
                                                            </div>
                                                            <div class="summary__item__price">
                                                                <span class="summary__item__price-wrap">價格</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                             -->

                                <hr>
                                <div class="desktop-cart__order__amount">
                                    <div class="desktop-cart__order__subtotal">
                                        小計
                                    </div>
                                    <div class="desktop-cart__order__voucher">
                                        折扣優惠
                                    </div>
                                    <div class="desktop-cart__order__total">
                                        總計
                                    </div>

                                    <div class="checkout__step__item checkout__payment__finish-and-pay">
                                        <div class="checkout__step__item-content">
                                            <div class="checkout__payment__finish-and-pay-submit">
                                                <button class="button checkout__payment__finish-and-pay-submit-button">
                                                訂購外帶自取訂單</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>


        </div>
</body>

</html>