<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My first Page by thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/js/jquery.min.js}" src="../js/jquery.min.js"></script>
    <script th:src="@{/js/jquery-3.0.0.min.js}" src="../js/jquery-3.0.0.min.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link th:href="@{/css/bootstrap.css}" href="../css/bootstrap.css" rel="stylesheet"/>


    <script th:inline="javascript">
        $(document).ready(function () {
            // 登出
            $("#logoutButton").click(function () {
                Swal.fire({
                    title: 'Do you want to Logout?',
                    showDenyButton: true,
                    showCancelButton: false,
                    confirmButtonText: `Logout`,
                    denyButtonText: `Cancel`,
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        var form = $('<form action="logoutController" method="get">'
                            + '<input type="hidden" type="text" name="keyword" value="'
                            + "" + '" />' + '</form>');
                        $('body').append(form);
                        form.submit();
                    } else if (result.isDenied) {
                        Swal.fire('Keep In Touch!', '', 'info')
                    }
                })
            });
            $("#rebackButton").click(function () {
                var form = $('<form action="reback" method="get">'
                    + '<input type="hidden" type="text" name="keyword" value="'
                    + "" + '" />' + '</form>');
                $('body').append(form);
                form.submit();
            });
        });

    </script>
</head>
<body>
<div class="row bg-dark">
    <div class="col-8" style="padding-top: 10px"><h2 class="bg-dark text-white"
                                                     th:text="|HELLO! User ${session.uname} ，您的剩餘金額：${session.coin}|"/>
    </div>
    <!--    <div class="input-group col-4 mb-3 searchbar bg-dark " style="padding-top: 10px" >-->
    <!--        <input var="keyword" id="keyword" name="keyword" type="text"-->
    <!--               class="form-control" placeholder="Enter keywords"-->
    <!--               onfocus="this.placeholder = ''"-->
    <!--               onblur="this.placeholder = 'Enter keywords'">-->
    <!--        <button class="col-lg-2 btn btn-info"-->
    <!--                onclick="SearchKeyword()">Search</button>-->
    <!--    </div>-->

</div>
<div id="drag-drop-basic">
    <!--   ==============================================================================-->
    <h1 class="titleH1" >您的訂單過往訂單</h1>
    <div id="source-container" data-role="drag-drop-container" class="row">
        <div th:each="order: ${OrderList}" class="col-md-4 bg-dark rounded border border-primary text-light">
            <div th:text="|訂單編號：${order.getOid()}|"/>
            <div th:text="|時間　　：${order.getOrdertime()}|"/>
            <div th:text="|狀態　　：${order.getStatus()}|"/>

            <form action="#" th:action="@{/showOrderDetail}" th:object="${order}" method="get">
                <input type="hidden" th:value="${order.getOid()}" name="oid"/>
                <button type="submit" class="btn btn-success">ShowDetail</button>
            </form>
        </div>
    </div>
    <div class="modal-footer no-margin-top">
        <ul class="pagination pull-right no-margin">

            <!-- 首页 -->
            <li>
                <a th:href="'/showOrder?pageIndex=0'">首页</a>
            </li>

            <!-- 上一页 -->
            <li th:if="${OrderList.hasPrevious()}">
                <a th:href="'/showOrder?pageIndex=' + ${OrderList.previousPageable().getPageNumber()}" th:text="上一页"></a>
            </li>

            <!-- 中间页 -->
            <li th:each="pageNum:${#numbers.sequence(0, OrderList.getTotalPages() - 1)}">
                <a th:href="'/showOrder?pageIndex=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum ne OrderList.pageable.getPageNumber()}"></a>
                <a th:href="'showOrder?pageIndex=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum eq OrderList.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
            </li>

            <!-- 下一页 -->
            <li th:if="${OrderList.hasNext()}">
                <a th:href="'/showOrder?pageIndex=' + ${OrderList.nextPageable().getPageNumber()}" th:text="下一页"></a>
            </li>

            <!-- 尾页 -->
            <li>
                <a th:href="'/showOrder?pageIndex=' + ${OrderList.getTotalPages() - 1}">尾页</a>
            </li>

        </ul>
    </div>
    <!--   ==============================================================================-->
    <button id="rebackButton" class="btn btn-info btn-mtop">回產品清單</button>
    <button id="logoutButton" class="btn btn-warning btn-mtop">登出</button>
    <h1 class="titleH1" id="orderDetailHead" th:text="|訂單詳細資訊 |"/>
    <table th:if="${orderDetailList}"  class="table table-striped table-hover">
        <thead>
        <tr>
            <th>產品名稱</th>
            <th>產品單價</th>
            <th>購買數量</th>
            <th>單品共計</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderDetail: ${orderDetailList}" class="">
            <td th:text="${orderDetail.getPname()}"/>
            <td th:text="${orderDetail.getPrice()}"/>
            <td th:text="${orderDetail.getBuyquantity()}"/>
            <td th:text="${orderDetail.getAllPrice()}"/>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="color: #1c7430" th:text="|此訂單總金額 ${orderAllPrice}|"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>