<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" href="../img/logo_2.png" />
    <title>隨便吃幫你決定這一餐</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- bootstrap_css link-->
    <link rel="stylesheet" href="../css/bootstrap01.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style_01.css" type="text/css">
    <!-- bootstrap_js link -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <style>
        .containerPurchase {
            width: 800px;
            height: 150px;
            padding: 25px;
            margin: auto;
            color: #0a0a0a;
            background-color: antiquewhite;
        }
        
        img[alt $="logo"] {
            width: 80px;
            height: 80px;
        }
        /* call_center  */
        
        .box1 {
            width: 400px;
            padding: 25px;
            margin: 100px auto;
            color: #0a0a0a;
            background-color: antiquewhite;
        }
        
        .basic_information_warpper {
            border: solid 1px #dcc7aa;
            height: 450px;
            width: 600px;
            padding: 15px;
            margin-top: 30px;
            margin-bottom: 50px;
            background-color: #ffffff;
        }
        
        .basic_information_item {
            height: 105px;
        }
    </style>
    <th:block th:include="/header"></th:block>
</head>

<body>
 
    <div style="background-color: #f7f7f7;">
        <div class="container">
            <div class="mytask__nav__block">
                <ul class="nav nav-tabs justify-content-center">
                    <li class="mytask__instruction__nav nav-item">
                        <a class="nav-link mytask__nav__text active" data-bs-toggle="tab" href="#nenber_centre">會員資料</a>
                    </li>
                    <li class="mytask__drawcard__nav nav-item">
                        <a class="nav-link mytask__nav__text" data-bs-toggle="tab" href="#my_order">我的訂單</a>
                    </li>
                    <li class="mytask_collect__nav nav-item">
                        <a class="nav-link mytask__nav__text" data-bs-toggle="tab" href="#shoppingcar">購物車</a>
                    </li>

                </ul>
            </div>
            <div class="member_warpper">
                <div class="tab-content">
                    <div class="tab-pane fade show active nenber_centre_warpper " id="nenber_centre">
                        <div class="member_title text-center">
                            <h1><strong><span class="basic_information_01">基本資料</span></strong></h1>
                        </div>
                        <div class="container"   th:each="muneInFo : ${SelectMemberInfo}">
                            <div class="row justify-content-center">
                                <div class="col-2 align-self-end text-center ">點數</div>
                                <div class="col-2 align-self-end text-center ">英雄卡</div>
                                <div class="col-2 align-self-end text-center ">優惠券</div>
                                <div class="col-2 align-self-end text-center ">信用評分</div>
                            </div>
                            <div class="basic_information_warpper mx-auto">

                                <div class="basic_information_item row "  >
                                    <div class="col-4 align-self-center  text-center ">
                                        <h2> 姓名 : </h2>
                                    </div>
                                    <div class="col-8 align-self-center"  >
                                        <h4 th:utext="${muneInFo.newmemberName}"> </h4>
                                    </div>
                                </div>
                                
                                <div class="basic_information_item row ">
                                    <div class="col-4 align-self-center text-center ">
                                        <h2>信箱 : </h2>
                                    </div>
                                    <div class="col-8 align-self-center text-truncate ">
                                        <h4 th:utext="${muneInFo.newmemberEmail}">  </h4>
                                    </div>
                                </div>

                                <div class="basic_information_item row ">
                                    <div class="col-4 align-self-center text-center ">
                                        <h2>電話 : </h2>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <h4 th:utext="${muneInFo.newmemberPhone}">  </h4>
                                    </div>
                                </div>

                                <div class="basic_information_item row justify-content-center ">
                                    <div class="btnt col-6 align-self-end text-center" type="button" data-bs-toggle="modal" data-bs-target="#editinformation">
                                        <a class="bntn">修改</a>
                                    </div>

                                    <div class="btnt col-6 align-self-end text-center" type="button" data-bs-toggle="modal" data-bs-target="#editpassword">
                                        <a class="bntn">更改密碼</a>
                                    </div>
                                </div>
                                <!-- MODAL1 -->
                                <form th:action="@{/member/updateMember}"  th:object="${updateMemberInfo}" method="POST"> 
                                <div class="modal fade" id="editinformation" >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3>會員資料修改</h3>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1" >姓名</span>
                                                    <input type="text" class="form-control" placeholder="請輸入更改姓名" aria-label="Username" aria-describedby="basic-addon1"  th:field="*{updatememberName}" >
                                                </div> 
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1" >信箱</span>
                                                    <input type="text" class="form-control"  placeholder="請輸入更改信箱" aria-label="Username" aria-describedby="basic-addon1"  th:field="*{updatememberEmail}">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">電話</span>
                                                    <input type="text" class="form-control" placeholder="請輸入更改號碼" aria-label="Username" aria-describedby="basic-addon1"  th:field="*{updatememberPhone}">
                                                </div>
                                                <div class=" modal-footer">
                                                    <button type="submit" class="btn-good ">儲存</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </form>
                                <!-- MODAL2 -->
                                 <form th:action="@{/member/updatePsw}"  th:object="${updatePsw}" method="POST"> 
                                <div class="modal fade" id="editpassword">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3>更改密碼</h3>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">輸入舊密碼</span>
                                                    <input type="text" class="form-control" placeholder="舊密碼" aria-label="Username" aria-describedby="basic-addon1">
                                                </div> -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">設定新密碼</span>
                                                    <input type="password" class="form-control" placeholder="新密碼" aria-label="Username" aria-describedby="basic-addon1" th:field="*{updatePsw}">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">再次確認新密碼</span>
                                                    <input type="password" class="form-control" placeholder="確認新密碼" aria-label="Username" aria-describedby="basic-addon1">
                                                </div>
                                                <div class=" modal-footer">
                                                    <button type="submit" class="btn-good ">儲存</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane my_order_warpper " id="my_order">
                        <div class="member_title">
                            <h1 class="display-4 text-center">目前正在處理的訂單</h1>
                        </div>
                        <div class="member_block">
                            <a href="" class="productbrouwse">
                                <div style="border: solid 5px #6B7A8F;" class="containerPurchase">
                                    <div class="row align-items-start">
                                        <div class="col">店名:</div>
                                        <div class="col">預計取餐時間:</div>
                                        <div>日期:</div>
                                        <div>編號:</div>
                                    </div>
                                    <div class="row align-items-end">
                                        <div class="col">餐點內容</div>
                                        <div class="col">NT.</div>
                                    </div>
                                </div>
                            </a>
                            <br>
                            <h1 class="display-6 text-center">過往訂單</h1>
                            <a href="" class="productbrouwse">
                                <div style="border: solid 5px #6B7A8F;" class="containerPurchase">
                                    <div>
                                        <div>店名:</div>
                                        <div>日期:</div>
                                        <div>編號:</div>
                                    </div>
                                    <div class="row align-items-end">
                                        <div class="col">餐點內容</div>
                                        <div class="col">NT.</div>
                                    </div>
                                </div>
                            </a>
                            <br>
                            <a href="" class="productbrouwse">
                                <div style="border: solid 5px #6B7A8F;" class="containerPurchase">
                                    <div>
                                        <div>店名:</div>
                                        <div>日期:</div>
                                        <div>編號:</div>
                                    </div>
                                    <div class="row align-items-end">
                                        <div class="col">餐點內容</div>
                                        <div class="col">NT.</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane shoppingcar_warpper " id="shoppingcar">

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>