<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../img/logo_2.png" />
    <title>隨便吃幫你決定這一餐</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel=stylesheet type="text/css" href="css/main.css">
    

    <style>
        .box1 {
            width: 400px;
            padding: 25px;
            margin: 100px auto;
            color: #0a0a0a;
            background-color: antiquewhite;
        }
        
        img[alt $="logo"] {
            width: 80px;
            height: 80px;
        }
    </style>
    
    <th:block th:include="/header"></th:block>
</head>

<body>
   
    <div style="border: solid 5px #6B7A8F;" class="box1">
        <div class="container">
            <h3>註冊,隨意吃</h3>
            <form class="table"  th:action="@{/memberCentre_regist}" th:object="${addMemberForm}" method="POST">
                <div class="mb-3">
                    <label for="useraccount" class="form-label">帳號</label>
                    <input type="text" class="form-control" id="useraccount" placeholder="輸入帳號" th:field="*{newmemberName}">
                </div>
                <div class="mb-3">
                    <label for="userpasswd" class="form-label">密碼</label>
                    <input type="password" class="form-control" id="userpasswd" placeholder="輸入密碼" th:field="*{newmemberPassword}" >
                </div>
                <!--  
                <div class="mb-3">
                    <label for="userpasswd2" class="form-label">再次確認密碼</label>
                    <input type="password2" class="form-control" id="userpasswd2" placeholder="請再輸入密碼" required>
                </div>
                -->
                <div class="mb-3">
                    <label for="useremail" class="form-label">電子郵件</label>
                    <input type="email" class="form-control" id="useremail" placeholder="輸入電子郵件" th:field="*{newmemberEmail}"  >
                </div>
                <input type="checkbox"> 請詳閱 <a href="https://tw.hicdn.beanfun.com/beanfun/GamaWWW/Aurora/Docs/Rule.html">使用者規章 </a>並勾選表示同意遵守其內容
                <br>

                <button type="submit" class="btn btn-primary">註冊</button>

                <hr>
                <h3>用第三方平台進行註冊:</h3>
                <a href="https://zh-tw.facebook.com/"></a><img src="img\facebook.png" alt="fb logo">
                <a href="https://accounts.google.com/signin/v2/identifier?passive=1209600&continue=https%3A%2F%2Faccounts.google.com%2F%3Fhl%3Dzh-TW&followup=https%3A%2F%2Faccounts.google.com%2F%3Fhl%3Dzh-TW&hl=zh-TW&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><img src="img\google.png" alt="google logo"></a>
                <img src="img\LINE.png" alt="line logo">
            </form>
        </div>
        <script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>