.choose__store__title-serch {
	margin-left: 30px;
}

.choose__store__title__block {
	position: relative;
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.stoerweb__info__title {
	border: solid 1px #dcc7aa;
}

.my_container {
	margin-bottom: 45px;
}

.store {
	align-self: center;
}

.title__info {
	padding-left: 30px;
}

.store__img {
	align-self: center;
}

.customer__img {
	align-self: center;
}

.comment__funtion {
	padding-left: 20px;
}

.photo__item__list {
	position: relative;
	display: inline-block;
	width: 50%;
	margin: .4%;
	overflow: hidden;
}

.recent__restaurant__content {
	padding-top: 30px;
}

.recent__restaurant__info {
	padding-left: 10px;
}