<!DOCTYPE html>
<html>

<head>
<link rel="shortcut icon" href="../img/logo_2.png" />
<title>隨便吃幫你決定這一餐</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- bootstrap_css link-->
<link rel="stylesheet" href="/css/bootstrap01.min.css" type="text/css">

<!-- bootstrap_js link -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
	integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
	crossorigin="anonymous"></script>
<script script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
	integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
	crossorigin="anonymous"></script>
<!-- my_css link  -->
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="css/Restaurant.css" type="text/css">

</head>



<body>
	<th:block th:include="/header"></th:block>

	<div style="background-color: #f7f7f7;">

		<div class="container my_container">
			<div class="choose__store__information row ">
				<div class="choose__store__title__blocks ">
					<div class="choose__store__title__block ">
						<div class="choose__store__title-serch  col">
							<div class="choose__store__title">
								<h1 style="text-align: left;">Zootreekey</h1>
							</div>
							<div class="store__serch" style="text-align: left;">
								<input type="search" id="site-search"
									aria-label="Search through site content">
								<button>找餐廳</button>
							</div>
						</div>
					</div>
				</div>

				<div class="store__info__block">
					<div class="store__info__title row"
						th:each="RestaurantInfo : ${getRestaurantInfos}">
						<div class="store__img col-2" style="text-align: center;">
							<img src="/img/食物照.jpeg" class="img-fluid ">
						</div>
						<div class="title__info col-10">
							<div class="store__name_block">
								<h1>
									<b><a th:utext="${RestaurantInfo.restaurantName}">..</a></b>
								</h1>
							</div>
							<div class="row">
								<div class="col-3 row">
									<div class="store__score col-5">
										<h6>
											<a>評分5/5</a>
										</h6>
									</div>
									<div class="col-2"></div>
									<div class="store__comment__count col-5">
										<h6>
											<a>評論數量</a>
										</h6>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-3 row">
									<div class="store__price col-5">
										<h6>
											<a th:utext="${RestaurantInfo.restaurantPrice}">..</a>
										</h6>

									</div>
									<div class="col-2"></div>
									<div class="store__category col-5">
										<h6>
											<a th:utext="${RestaurantInfo.restaurantCategory}">..</a>
										</h6>
									</div>
								</div>

							</div>
							<div class="restaurant_detailed__info">
								<div class="restaurant__businesshours">
									<h4>
										<span>營業時間：</span> <span
											th:utext="${RestaurantInfo.businessHours}">..</span>
									</h4>
								</div>
								<div class="restaurant__address">
									<H4>
										<span>地址：</span> <a
											th:href="@{${RestaurantInfo.restaurantMap}}" target="_blank"
											th:utext="${RestaurantInfo.restaurantAddress}">..</a>
									</H4>
								</div>
								<div class="restaurant__phone">
									<H5>
										<span>電話：<a href="tel:+886-987878878"
											th:utext="${RestaurantInfo.restaurantPhone}">..</a></span>
									</H5>
								</div>
								<div class="restaurant__web">
									<H5>
										<span>WEB：<a
											th:href="@{${RestaurantInfo.restaurantWeb}}">官方網站</a></span>
									</H5>
								</div>

							</div>
						</div>

					</div>

					<div class="">
						<Hr>
						<div class="row">
							<div class="col-8">
								<div class="photo__list" style="text-align: center;">
									<div class="photo__title">
										<h2>
											<span>XXX 的最新照片</span>
										</h2>
									</div>
									<div class="photo__item__list">
										<div id="carouselExampleInterval" class="carousel slide"
											data-bs-ride="carousel">
											<div class="carousel-inner">
												<div class="carousel-item active" data-bs-interval="1000">
													<img src="/img/食物照.jpeg" class="d-block w-100" alt="...">
												</div>
												<div class="carousel-item" data-bs-interval="2000">
													<img src="/img/食物照.jpeg" class="d-block w-100" alt="...">
												</div>
												<div class="carousel-item">
													<img src="/img/食物照.jpeg" class="d-block w-100" alt="...">
												</div>
											</div>
											<button class="carousel-control-prev" type="button"
												data-bs-target="#carouselExampleInterval"
												data-bs-slide="prev">
												<span class="carousel-control-prev-icon" aria-hidden="true"></span>
												<span class="visually-hidden">Previous</span>
											</button>
											<button class="carousel-control-next" type="button"
												data-bs-target="#carouselExampleInterval"
												data-bs-slide="next">
												<span class="carousel-control-next-icon" aria-hidden="true"></span>
												<span class="visually-hidden">Next</span>
											</button>
										</div>
									</div>


								</div>
								<div class="store__comment__block ">

									<div class="store__comment__title">
										<h4>
											<b><a>XXX的評論區 XX則</a></b>
										</h4>
									</div>
									<div class="comment__input__block row">
										<div class="col-6 row">
											<div class="customer__img col-3">
												<img src="/img/食物照.jpeg" class="img-fluid ">
											</div>
											<div class="comment__funtion col-9">
												<div class="comment__input__titel">
													<span>請寫下您的評論</span>
												</div>
												<div class="comment__textarea">
													<textarea placeholder="發表評論">
    
                                                    </textarea>
												</div>
												<div class="">
													<button>送出評論</button>
												</div>
											</div>
										</div>
									</div>
									<hr>
									<div class="customer__comment__block row" th:if="${CommentInfos} != null"
										th:each="CommentInfo : ${CommentInfos}">
										<div class="customer__comment__items">
											<div class="customer__comment__item col-6 row">
												<div class="customer__img col-3">
													<img src="/img/食物照.jpeg" class="img-fluid ">
												</div>
												<div class="comment__funtion col-9">
													<div class="comment__titel row">
														<div class="comment__name col-6">
															<span>..</span>
														</div>
														<div class="update__time col-6">
															<span>..</span>
														</div>
													</div>
													<div class="comment__textarea">
														<label th:utext="${CommentInfo.Content}"> .. </label>
													</div>

												</div>
											</div>
											<hr>
										</div>

									</div>
									<div class="comment__null" style="text-align: center;" th:if="${CommentInfos} == null">
										<h1>
											<span>目前沒有評論!</span>
										</h1>
										<hr>
									</div>


								</div>
							</div>
							<div class="col-4">
								<div class="recent__restaurant__list">
									<h4>
										<b>附近餐廳推薦</b>
									</h4>
									<dvi class="recent__restaurant__subtitle"> <a href="">(地區)(分類)推薦</a>
									</dvi>
									<div class="recent__restaurant__content">
										<div class="recent__restaurant__item row">
											<div class="store__img col-4" style="text-align: center;">
												<a><img src="/img/食物照.jpeg" class="img-fluid "></a>
											</div>

											<div class="recent__restaurant__info col-8">
												<div class="recent__restaurant__name">
													<a href="">店名</a>
												</div>
												<div class="recent__restaurant__detailed">
													<span>...</span>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>