/* 結帳購物車頁面 checkou_shoppingcart*/

.payment-selection__payment-method-list .payment-item__icon,
.payment-selection__payment-method-list .payment-token__icon {
    display: inline;
    height: 24px;
    padding-right: 8px;
}

.payment-selection__payment-method-list .payment-item__label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 300;
    word-break: break-word;
}

.payment-method-list__item {
    padding: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    cursor: pointer;
}

.payment-selection__payment-method-list .payment-method-list {
    margin-bottom: 8px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}

.checkout__payment__finish-and-pay-submit-button {
    height: 40px;
    width: 100%;
    background-color: #dcc7aa;
    color: #6b7a8f;
    font-size: 15px;
    font-weight: bold;
    border: 0em;
}

.voucher-wallet-checkout-payment-section-react {
    padding-top: 5%;
    padding-bottom: 5%;
}

.payment-item__icon {
    height: 24px;
    display: inline;
}

.checkout__step__item {
    padding-top: 3%;
}

.checkou__cart {
    margin-top: 10px;
    border-width: 3px;
    border: solid 1px #dcc7aa;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
    top: 10%;
    box-shadow: -3px 0px 9px #6b7a8f;
}

.checkout__cart__blocks {
    margin-top: 5%;
    margin-bottom: 5%;
}

.checkout__step__items {
    padding-top: 5%;
}

.checkout__step {
    margin-top: 10px;
    border-width: 3px;
    border: solid 1px #dcc7aa;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.checkout__blocks_row {
    padding-top: 5%;
}

.checkout__steps {
    margin-top: 5%;
    margin-bottom: 5%;
}

.tag {
    padding: 5px 15px;
    background-color: #dcc7aa;
}