/* 菜單頁面 menu */

.menu__commodity__items {
    background-color: #ffffff;
}

.store__name__text {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.food__information__block {
    cursor: pointer;
    text-align: center;
}

.my_container {
    padding-left: -3px;
}

.menu__category__commodity__items {
    margin-right: calc(0 * var(--bs-gutter-x));
    margin-left: calc(0 * var(--bs-gutter-x));
    margin-bottom: calc(1 * var(--bs-gutter-x));
}

.menu__category__title {
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    padding-top: var(--bs-gutter-x, .75rem);
    margin-bottom: 20px;
}

.menu_category_items {
    position: sticky;
    top: 7%;
    background-color: #ffffff;
}

.menu__category__text {
    color: #F7882F;
    font-weight: 800;
}

.store__commodity__checkout__cart__blocks {
    box-shadow: -3px 0px 9px #6b7a8f;
}

.store__commodity__checkout__cart {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
    top: 10%;
}

.store__name__title {
    margin-right: calc(0 * var(--bs-gutter-x));
    margin-left: calc(0 * var(--bs-gutter-x));
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: solid 1px #dcc7aa;
}

.title__img {
    height: 200px;
    width: 100%;
    background-position: center;
}

.food__img {
    width: 150px;
}